<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Store Owner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="admin">
        <header class="admin-header">
            <a href="#" class="logo"><h1>Store Owner</h1></a>
            <div class="topnav-items">
                <a href="addstoreattendant.html"><button class="btn btn--primary">Add Attendant</button></a>
                <a href="login.html" class="logout">Log Out</a>
            </div>
        </header>
        <nav class="sidenav">
            <ul class="menu">
                <li class="menu-item">
                    <a href="admindash.html" class="menu-link">Admin Dashboard</a>
                </li>
                <li class="menu-item">
                    <a href="addstoreattendant.html" class="menu-link">Add Store Attendant</a>
                </li>
                <li class="menu-item">
                    <a href="createproduct.html" class="menu-link">Create a Product</a>
                </li>
                <li class="menu-item">
                    <a href="modifyproducts.html" class="menu-link">Modify a Product</a>
                </li>
                <li class="menu-item">
                    <a href="salerecords.html" class="menu-link">View All Sale Records</a>
                </li>
            </ul>
        </nav>
        <main class="admin-main">
            <div class="dashboard">
                <form action="">
                    <div class="container">
                        <h3>Please fill in this form to register a store attendant.</h3>
                        <hr>

                        <label for="email"><b>Email</b></label>
                        <input type="text" placeholder="Enter Email" name="email" required>
                    
                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" required>
                    
                        <label for="psw-repeat"><b>Confirm Password</b></label>
                        <input type="password" placeholder="Confirm Password" required>
                        <hr>
                    
                        <p>By creating this account you agree to our <a href="#">Terms & Privacy</a>.</p>
                        <button type="submit" class="btn btn--primary">Register</button>
                    </div>
                </form>
            </div>
        </main>
        <footer class="admin-footer">
            <span>&copy; Store Manager 2018</span>
        </footer>
     </div>
</body>
</html> 