<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Store Owner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="admin">
        <header class="admin-header">
            <a href="#" class="logo"><h1>Store Owner</h1></a>
            <div class="topnav-items">
                <button class="btn btn--primary">Add Attendant</button>
                <a href="#" class="logout">Log Out</a>
            </div>
        </header>
        <nav class="sidenav">
            <ul class="menu">
                <li class="menu-item">
                    <a href="admindash.html" class="menu-link">Admin Dashboard</a>
                </li>
                <li class="menu-item">
                    <a href="addstoreattendant.html" class="menu-link">Add Store Attendant</a>
                </li>
            </ul>
        </nav>
     </div>
</body>
</html> 