<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Store Attendant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
    <script src="../static/js/main.js"></script>
    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="store-attendant">
        <header class="storeattendant-header">
            <a href="#" class="logo">Store Manager</a>
            <div class="topnav-items">
                <a href="allproducts.html"><button class="btn btn--primary">Create New Sale</button></a>
                <a href="myprofile.html" class="profile">Profile</a>
                <a href="#" id="logoutButton" class="logout">Log Out</a>
            </div>
        </header>
        <nav class="sidenav">
            <ul class="menu">
                <li class="menu-item">
                    <a href="storeattendant.html" class="menu-link">Dashboard</a>
                </li>
                <li class="menu-item">
                    <a href="allproducts.html" class="menu-link">All Products</a>
                </li>
                <li class="menu-item">
                    <a href="cart.html" class="menu-link">Cart</a>
                </li>
                <!-- <li class="menu-item">
                    <a href="salesrecords.html" class="menu-link">Sale Records</a>
                </li> -->
                <li class="menu-item">
                    <a href="myprofile.html" class="menu-link">My Profile</a>
                </li>
            </ul>
        </nav>
        <main class="storeattendant-main">
            <h2>All Products</h2>
            <div class="sales-records">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search individual products by name..">
                <div id="message-box">

                </div>
                <table id="records-table">
                </table>
            </div>
        </main>
        <footer class="storeattendant-footer">
            <span>&copy; Store Manager 2018</span>
        </footer>
    </div>
    <script src="../static/js/getproduct.js"></script>
    <script src="../static/js/logout.js"></script>
</body>
</html>