<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Store Owner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="admin">
        <header class="admin-header">
            <a href="#" class="logo"><h1>Store Owner</h1></a>
            <div class="topnav-items">
                <button class="btn btn--primary">Add Attendant</button>
                <a href="#" class="logout">Log Out</a>
            </div>
        </header>
        <nav class="sidenav">
            <ul class="menu">
                <li class="menu-item">
                    <a href="admindash.html" class="menu-link">Admin Dashboard</a>
                </li>
                <li class="menu-item">
                    <a href="addstoreattendant.html" class="menu-link">Add Store Attendant</a>
                </li>
                <li class="menu-item">
                    <a href="createproduct.html" class="menu-link">Create a Product</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">Modify a Product</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">Delete a Product</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">View All Sale Records</a>
                </li>
            </ul>
        </nav>
        <main class="admin-main">
            <div class="dashboard">
                <form action="">
                    <div class="container">
                        <h3>Please fill in this form to register a product.</h3>
                        <hr>

                        <label for="itemName"><b>Item Name</b></label>
                        <input type="text" placeholder="Enter Item Name" name="itemName" required>
                    
                        <label for="price"><b>Cost Price</b></label>
                        <input type="text" placeholder="Enter Item Price" name="price" required>

                        <label for="price"><b>Selling Price</b></label>
                        <input type="text" placeholder="Enter Item Price" name="price" required>

                        <label for="quantity"><b>Quantity</b></label>
                        <input type="text" placeholder="Enter Item Quantity" name="quantity" required>

                        <label for="category"><b>Category</b></label><br>
                        <div>
                            <select name="selectCategory" id="selectCategory">
                                <option value="">Clothing</option>
                                <option value="">Shoes</option>
                                <option value="">Electronics</option>
                                <option value="">Accessories</option>
                            </select>
                        </div>
                        <hr>
                        <button type="submit" class="btn btn--primary">Add Product</button>
                    </div>
                </form>
            </div>
        </main>
        <footer class="admin-footer">
            <span>&copy; Store Manager 2018</span>
        </footer>
     </div>
</body>
</html> 