<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login - Store Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css"/>
    <script src="main.js"></script>
</head>
<body>
    <div class="grid-wrapper">
        <!-- Navigation/Header-->
        <header class="masthead">
            <div class="masthead-inner">
            <header class="site-title">
                <h1>Store Manager</h1>
            </header>
            <nav class="main-nav">
                <ul class="menu">
                <li> <a href="#">Admin</a></li>
                <li> <a href="#">Store Attendant</a></li>
                </ul>
            </nav>
            </div>
        </header>
        <form action="login.html" method="post" class="boxcover">
            <h1>Welcome</h1>
            <input type="text" name="" placeholder="Email...">
            <input type="password" name="" placeholder="Password">
            <input type="checkbox" checked="checked" name="remember"> Remember me
            <input type="submit" name="" value="Login">
        </form>
    </div>
</body>
</html>