<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Store Attendant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
    <script src="main.js"></script>

    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="store-attendant">
        <header class="storeattendant-header">
            <a href="#" class="logo"><h1>Store Manager</h1></a>
            <div class="topnav-items">
                <a href="products.html"><button class="btn btn--primary">Create New Sale</button></a>
                <a href="myprofile.html" class="profile">Profile</a>
                <a href="login.html" class="logout">Log Out</a>
            </div>
        </header>
        <nav class="sidenav">
            <ul class="menu">
                <li class="menu-item">
                    <a href="storeattendant.html" class="menu-link">Dashboard</a>
                </li>
                <li class="menu-item">
                    <a href="products.html" class="menu-link">Products</a>
                </li>
                <li class="menu-item">
                    <a href="salesrecords.html" class="menu-link">Sale Records</a>
                </li>
                <li class="menu-item">
                    <a href="allproducts.html" class="menu-link">All products</a>
                </li>
            </ul>
        </nav>
        <main class="storeattendant-main">
            <figure class="fig-item">
                <img src="https://burst.shopifycdn.com/photos/blue-t-shirt_925x.progressive.jpg" alt="sample57" />
                <figcaption>
                    <h3>Shirt</h3>
                    <div class="price">KSh. 1000.00</div>
                </figcaption><i class="fa fa-shopping-cart"></i>
                <a href="#"></a>
            </figure>
            <figure class="fig-item">
                <img src="https://burst.shopifycdn.com/photos/watch-no-numbers_373x.progressive.jpg" alt="sample98" />
                <figcaption>
                    <h3>Wrist Watch</h3>
                    <div class="price">KSh. 1500.00</div>
                </figcaption><i class="fa fa-shopping-cart"></i>
                <a href="#"></a>
            </figure>
            <figure class="fig-item">
                <img src="https://burst.shopifycdn.com/photos/purple-gemstone-necklace_373x.progressive.jpg" alt="sample90" />
                <figcaption>
                    <h3>Wrist Watch</h3>
                    <div class="price">KSh. 2000.00</div>
                </figcaption><i class="fa fa-shopping-cart"></i>
                <a href="#"></a>
            </figure>
            <figure class="fig-item">
                <img src="https://burst.shopifycdn.com/photos/purple-gemstone-necklace_373x.progressive.jpg" alt="sample90" />
                <figcaption>
                    <h3>Necklace</h3>
                    <div class="price">KSh. 500.00</div>
                </figcaption><i class="fa fa-shopping-cart"></i>
                <a href="#"></a>
            </figure>
            <figure class="fig-item">
                <img src="https://burst.shopifycdn.com/photos/watch-no-numbers_373x.progressive.jpg" alt="sample98" />
                <figcaption>
                    <h3>Wrist Watch</h3>
                    <div class="price">KSh. 1500.00</div>
                </figcaption><i class="fa fa-shopping-cart"></i>
                <a href="#"></a>
            </figure>
            <figure class="fig-item">
                <img src="https://burst.shopifycdn.com/photos/blue-t-shirt_925x.progressive.jpg" alt="sample57" />
                <figcaption>
                    <h3>Shirt</h3>
                    <div class="price">KSh. 1000.00</div>
                </figcaption><i class="fa fa-shopping-cart"></i>
                <a href="#"></a>
            </figure>
        </main>
        <footer class="storeattendant-footer">
            <span>&copy; Store Manager 2018</span>
        </footer>
    </div>
</body>
</html>