<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Store Attendant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
    <script src="../static/js/main.js"></script>
    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="store-attendant">
        <header class="storeattendant-header">
            <a href="#" class="logo">Store Manager</a>
            <div class="topnav-items">
                <a href="allproducts.html"><button class="btn btn--primary">Create New Sale</button></a>
                <a href="myprofile.html" class="profile">Profile</a>
                <a href="login.html" class="logout">Log Out</a>
            </div>
        </header>
        <nav class="sidenav">
            <ul class="menu">
                <li class="menu-item">
                    <a href="storeattendant.html" class="menu-link">Dashboard</a>
                </li>
                <li class="menu-item">
                    <a href="allproducts.html" class="menu-link">All Products</a>
                </li>
                <li class="menu-item">
                    <a href="cart.html" class="menu-link">Cart</a>
                </li>
                <li class="menu-item">
                    <a href="salesrecords.html" class="menu-link">Sale Records</a>
                </li>
                <li class="menu-item">
                    <a href="myprofile.html" class="menu-link">My Profile</a>
                </li>
            </ul>
        </nav>
        <main class="storeattendant-main">
            <h2>Sales Records</h2>
            <table class="sales-records">
                <tr>
                    <th>Item Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Disc %</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td>Shoes</td>
                    <td>KSh. 1000</td>
                    <td>2</td>
                    <td>0</td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td>Handbag</td>
                    <td>KSh. 2000</td>
                    <td>2</td>
                    <td>0</td>
                    <td>4000</td>
                </tr>
                <tr>
                    <td>Belt</td>
                    <td>KSh. 800</td>
                    <td>6</td>
                    <td>50</td>
                    <td>750</td>
                </tr>
                <tr>
                    <td>Shirt</td>
                    <td>KSh. 1500</td>
                    <td>6</td>
                    <td>0</td>
                    <td>9000</td>
                </tr>
                <tr>
                    <td>Cooking oil</td>
                    <td>KSh. 450</td>
                    <td>10</td>
                    <td>100</td>
                    <td>4400</td>
                </tr>
                <tr>
                    <td>Shower Heater</td>
                    <td>KSh. 1350</td>
                    <td>2</td>
                    <td>0</td>
                    <td>1350</td>
                </tr>
            </table>
        </main>
        <footer class="storeattendant-footer">
            <span>&copy; Store Manager 2018</span>
        </footer>
    </div>
</body>
</html>