<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Store Owner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="admin">
        <header class="admin-header">
            <a href="#" class="logo"><h1>Store Owner</h1></a>
            <div class="topnav-items">
                <button class="btn btn--primary">Add Attendant</button>
                <a href="#" class="logout">Log Out</a>
            </div>
        </header>
        <nav class="sidenav">
            <ul class="menu">
                <li class="menu-item">
                    <a href="admindash.html" class="menu-link">Admin Dashboard</a>
                </li>
                <li class="menu-item">
                    <a href="addstoreattendant.html" class="menu-link">Add Store Attendant</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">Create a Product</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">Modify a Product</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">Delete a Product</a>
                </li>
                <li class="menu-item">
                    <a href="salerecords.html" class="menu-link">View All Sale Records</a>
                </li>
            </ul>
        </nav>
        <main class="admin-main">
            <table class="sales-records">
                <tr>
                    <th>Item Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Disc %</th>
                    <th>Total</th>
                    <th>By (Store Attendant)</th>
                </tr>
                <tr>
                    <td>Shoes</td>
                    <td>KSh. 1000</td>
                    <td>2</td>
                    <td>0</td>
                    <td>2000</td>
                    <td>Collins</td>
                </tr>
                <tr>
                    <td>Handbag</td>
                    <td>KSh. 2000</td>
                    <td>2</td>
                    <td>0</td>
                    <td>4000</td>
                    <td>Tom</td>
                </tr>
                <tr>
                    <td>Belt</td>
                    <td>KSh. 800</td>
                    <td>6</td>
                    <td>50</td>
                    <td>750</td>
                    <td>Peninah</td>
                </tr>
                <tr>
                    <td>Shirt</td>
                    <td>KSh. 1500</td>
                    <td>6</td>
                    <td>0</td>
                    <td>9000</td>
                    <td>Collins</td>
                </tr>
                <tr>
                    <td>Cooking oil</td>
                    <td>KSh. 450</td>
                    <td>10</td>
                    <td>100</td>
                    <td>4400</td>
                    <td>Collins</td>
                </tr>
                <tr>
                    <td>Shower Heater</td>
                    <td>KSh. 1350</td>
                    <td>2</td>
                    <td>0</td>
                    <td>1350</td>
                    <td>Tom</td>
                </tr>
            </table>
        </main>
        <footer class="admin-footer">
            <span>&copy; Store Manager 2018</span>
        </footer>
     </div>
</body>
</html> 