<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Store Attendant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="store-attendant">
        <header class="storeattendant-header">
            <a href="#" class="logo"><h1>Store Manager</h1></a>
            <div class="topnav-items">
                <button class="btn btn--primary">Create New Sale</button>
                <a href="#" class="logout">Log Out</a>
            </div>
        </header>
        <nav class="sidenav">
            <ul class="menu">
                <li class="menu-item">
                    <a href="#" class="menu-link">Dashboard</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">Products</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">Sale Records</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>