*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.admin {
    --spacing: 1rem;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    height: 100vh;
    grid-template-rows: 70px 1fr 70px;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "header header" "nav    main" "footer footer";
}
.admin-header {
    display: flex;
    flex-basis: 100%;
    grid-area: header;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    position: relative;
}
.topnav-items {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacing);
}
@media screen and (min-width: 48rem) {
    .admin {
      --spacing: 2rem;
    }
}
a {
    color: #2ecc71;
    text-decoration: none;
}
.logo {
    display: flex;
    flex: 0 0 250px;
    height: 70px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    color: #fff;
    background-color: #2ecc71;
    font-size: 1rem;
}
.logo h1 {
    margin: 0;
}
.btn {
    border: 0;
    background: none;
    display: inline-block;
    margin: 20px;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 0.5rem 1rem;
    outline: none;
    color: black;
    border-radius: 5em;
    transition: 0.25s;
    cursor: pointer;
    white-space: nowrap;
}
.btn:hover {
    background: #2ecc71;
} 